<launch>
    <param name="/level_planner/test/color_code" type="int" value="2" />
    <param name="/level_planner/test/speed" type="double" value="0.35" />
    <param name="/level_planner/test/step_duration" type="double" value="0.5" />

    <param name="/level_planner/level_code" type="int" value="2" />

    <param name="/level_planner/level_2/strategy" type="int" value="0" />
    <param name="/level_planner/level_2/base_speed" type="double" value="0.25" />
    <param name="/level_planner/level_2/area_threshold" type="int" value="5000" />
    <param name="/level_planner/level_2/pixel_threshold" type="int" value="10" />

    <param name="/level_planner/level_2/entry_color/min_area" type="int" value="500" />
    <param name="/level_planner/level_2/entry_xy/p" type="double" value="0.0012" />
    <param name="/level_planner/level_2/entry_xy/i" type="double" value="0.00001" />
    <param name="/level_planner/level_2/entry_xy/d" type="double" value="0.000000" />

    <param name="/level_planner/xy_clamp_max" type="double" value="0.5" />
    <param name="/level_planner/xy_clamp_min" type="double" value="-0.5" />
</launch>